@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --fonderie: #0b1014;
  --acier: #1f252b;
  --cuivre: #db640e;
  --ivoire: #ece7e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-fonderie: var(--fonderie);
  --color-acier: var(--acier);
  --color-cuivre: var(--cuivre);
  --color-ivoire: var(--ivoire);
  --font-bebas-neue: var(--font-bebas-neue), system-ui;
  --font-dm-sans: var(--font-dm-sans), sans-serif;
  --animate-fade-up: fade-up 0.7s ease both;

}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(28px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: var(--foreground);
}

button {
  cursor: pointer;
}

@utility tagline {
  @apply uppercase tracking-widest font-dm-sans;
}

h1 {
  @apply text-6xl lg:text-9xl;
  @apply font-bebas-neue font-bold uppercase;
}

h2 {
  @apply text-5xl lg:text-7xl;
  @apply font-bebas-neue font-bold uppercase;
}

h3 {
  @apply text-2xl lg:text-3xl;
  @apply font-bebas-neue font-bold uppercase;
}

p {
  @apply text-xs lg:text-sm;
  @apply font-dm-sans;
}